<div class="container mt-5">
    <div class="row">
        <!-- offset: deje 2 columnas al lado -->
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE PRODUCTOS</span>
                    <button class="btn btn-success float-end" routerLink="/crear-producto">
                        NUEVO
                    </button>

                    <table class="table table-striped mt-4">
                        <thead>
                          <tr class="table-dark">
                            <th scope="col">Producto</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Ubicación</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Precio</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Coca Cola</td>
                            <td>Bebida</td>
                            <td>Cucuta</td>
                            <td>2</td>
                            <td>
                                <i class="fa-solid fa-pen-to-square text-primary"></i>
                                <i class="fa-solid fa-trash text-danger"></i>
                            </td>
                          </tr>

                          <tr>
                            <td>Gomitas</td>
                            <td>Dulce</td>
                            <td>Bogota</td>
                            <td>1</td>
                            <td>
                                <i class="fa-solid fa-pen-to-square text-primary"></i>
                                <i class="fa-solid fa-trash text-danger"></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>